.ImageContainer {
  height: 90%;
  width: 90%;
  position :absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Image {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Image img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}